{% extends "base.html" %}
{% block content %}
<div class = "container mx-auto m-9 w-1/2">
    <h1>Welcome to Authentication System</h1>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
             <button class='bg-blue-500 px-2 py-1 rounded-sm mt-3' type="submit">Sign In</button>
        </form>
    </div>
</div>
{% endblock content %}
